@charset "utf-8";
@import "./_variable";
@import "./_mixin";

::selection {
    background-color: $main-colors;
    color: #000;
}

/*인트로*/
#myBar {
    background-color: $main-color;
}

.b_main {
    background: linear-gradient(0deg, $main-color, $sub-color) !important;
    color: #fff !important;

    &:hover {
        background: linear-gradient(180deg, $main-color, $main-color) !important;
        box-shadow: 0 0 1px 2px $main-color;
    }
}

.b_sub {
    background: linear-gradient(0deg, $navy-color, $sky-color) !important;
    color: #fff !important;

    &:hover {
        background: linear-gradient(0deg, $navy-color, $navy-color) !important;
        box-shadow: 0 0 1px 2px $navy-color;
    }
}

.b_third {
    background: linear-gradient(0deg, #1a1a1a, #343434) !important;
    color: #fff !important;
}

.btn,
a.btn {
    border-radius: 5px;
    font-weight: normal;
    font-size: 14px;
}
a.btn_secondary,
.btn_secondary {
    color: black;
    background: linear-gradient(to left, $main2-color, $sub2-color);
    transition: all 1s;
    box-shadow: 0px 1px 3px rgba(49, 104, 116, 0.2);

    &:hover {
        background: white;
        border: 1px solid #ccc;
    }
}

a.btn_primary,
.btn_primary,
.btn.btn_primary {
    color: white;
    background: linear-gradient(to left, $main-color, $sub-color);
    transition: all 1s;
    box-shadow: 0px 1px 3px rgba(49, 104, 116, 0.2);

    &:hover {
        color: white;
        background: linear-gradient(to left, $main-color, $main-color);
    }
}

a.btn_cancle,
.btn_cancle {
    box-shadow: 0px 1px 3px rgba(49, 104, 116, 0.05);
    color: black;
    border-radius: 3px;
    background: #fff;

    &:hover {
        color: $sub-color;
        background: white;
        border: 1px solid #ccc;
    }
}

.user.selected {
    background: $sub-color;
}
.btn-primary {
    background: $sub-color;
    color: white;
}

.b_darkblue {
    background: #29386b !important;
    color: #fff;
    &:hover {
        box-shadow: 0 0 1px 1px #25335f;
        background: #202c52 !important;
    }
}

.b_skyblue {
    background: #3b86ff !important;
    color: #fff;
    &:hover {
        box-shadow: 0 0 1px 1px #162d55;
        background: #224d93 !important;
    }
}

/*로그인*/
.login_wrap {
    width: 100%;
    max-width: 680px;
    padding: 10vh 15px;
}

/*대쉬보드*/
.day {
    color: #565656;
}
.history_latest {
    line-height: 24px;
    .card_title_wrap {
        display: flex;
        justify-content: space-between;
    }
    .card_title {
        margin-bottom: 15px;
    }
    .category {
        padding: 0 10px;
        font-size: 12px;
    }
    .price {
        color: #3b86ff;
        font-size: 13px;
        font-weight: 600;
    }
}

.regist_latest {
    display: grid;
    line-height: 24px;
    font-size: 12px;

    .card_title_wrap {
        display: flex;
        justify-content: space-between;
    }
    .card_title {
        margin-bottom: 15px;
    }
    .id {
        font-size: 14px;
        display: inline-block;
        min-width: 80px;
        font-weight: 600;
        margin: 0 10px;
    }
    .badge {
        font-weight: 500;
    }
}

.ml10 {
    margin-left: 10px;
}

.color0 {
    background: #cacaca !important;
}
.color1 {
    background: #b55dccd9 !important;
}
.color2 {
    background: #516feb !important;
}
.color3 {
    background: #5ec1df !important;
}
.color4 {
    background: #5ed2dc !important;
}
.color5 {
    background: #373cbc !important;
}
.color6 {
    background: #2b3a6d !important;
}
.color9 {
    background: #6214ab !important;
}
.color10 {
    background: #6214ab !important;
}

.red {
    color: red;
}
strong {
    color: red;
}

.adm_btn {
    background: #fece00;
    font-size: 13px !important;
    letter-spacing: 0px;
    color: #111;
    font-weight: 700;
    padding: 3px 10px 2px;
    margin-right: 15px;
    border-radius: 15px;
    margin: 0;

    i {
        font-size: 16px;
        margin-right: 3px;
    }
    &:hover {
        background: #d9b000;
    }
}

/* 유저 아이콘*/
.user_icon {
    background: #cbd2de;
    width: 100%;
    height: 100%;
    text-align: center;
    display: block;
    border-radius: 50%;

    i {
        font-weight: 300;
        vertical-align: top;
    }

    &.lv0 {
        color: white;
    }
    &.lv1 {
        background: #2b3a6d;
        color: white;
    }
    &.lv2 {
        background: #61b5ff;
        color: #1a4158;
    }
    &.lv3 {
        background: red;
        color: white;
    }
    &.lv4 {
        background: green;
        color: white;
    }
    &.lv5 {
        background: black;
        color: gold;
    }
    &.lv9 {
        background: black;
        color: white;
    }
    &.lv10 {
        background: black;
        color: white;
    }
}
.value_no {
    color: red;
}
.total_view_wrap .rank_title {
    width: 100%;
    padding: 3px 10px;
    margin: 10px 20px -10px;
    background: #f0edff;
    border-radius: 10px;
}

// mining
#mining {
    .myitemform {
        display: contents;
    }

    h3.title {
        margin: 20px 0 0px;
        vertical-align: middle;
        font-weight: bold;
        font-size: 16px;
        color: #29386b;
        padding-left: 10px;
        display: inline-block;
    }

    .all_view {
        float: right;
        background: white;
        margin-top: 15px;

        &:hover {
            background: #492191;
            color: white;
        }
    }

    .mining_wrap {
        margin: 20px 0 0 0;
    }

    .mining_ico {
        height: 40px;
        width: 40px;
        vertical-align: middle;
        margin: 0 auto;
        s img {
            width: 100%;
            height: 100%;
        }
    }
}

#mymining {
    .r_card_wrap {
        margin: 0 0 10px 0;
    }
}

#mining_swap {
    background: #fece00;
    cursor: pointer;
    border: 1px solid #fdeda5;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);

    .pop_btn {
        display: flex;
        align-items: center;
        color: black;
        div {
            display: inline-block;
        }

        .wallet_title {
            font-weight: 600;
            font-size: 16px;
        }
        .max_with {
            margin-left: 10px;
            font-size: 11px;
        }
        .caret_box {
            vertical-align: top;
            float: right;
            -webkit-box-flex: 3;
            flex-grow: 3;
            vertical-align: top;
            text-align: right;

            i {
                font-size: 16px;
            }
        }
    }
}

#mining_withdraw {
    background: #ec2b38;

    .polding_btn {
        display: flex;
        align-items: center;
        color: white;
        cursor: pointer;

        div {
            display: inline-block;
        }

        .wallet_title {
            font-weight: 600;
            font-size: 16px;
        }
        .max_with {
            margin-left: 10px;
            font-size: 11px;
        }
        .caret_box {
            vertical-align: top;
            float: right;
            -webkit-box-flex: 3;
            flex-grow: 3;
            vertical-align: top;
            text-align: right;

            i {
                font-size: 16px;
            }
        }
    }

    &.open {
        background: white;
        .polding_btn {
            color: black;
            .caret_box .btn {
                background: #f4f1f5;
                border-radius: 5px;
            }
        }
    }
    .input_shift_value {
        .button_wrap {
            float: right;
        }
        .currency-right {
            margin-top: 14px;
            margin-right: 10px;
        }
        .fee {
            font-size: 13px;
            margin-bottom: 10px;
            margin-top: -5px;
            #active_amt,
            #fee_val {
                color: #ec2b38;
            }
        }
        .fee i {
            font-size: 18px;
            color: #ec2b38;
        }
    }

    .hidden {
        display: none;
    }

    .polding {
        .comment {
            float: right;
            font-size: 11px;
            line-height: 30px;
            color: red;
        }
    }

    #withdrawal_btn {
        background: #ec2b38;
        color: white;
    }
}

#mining_history {
    .mymining_total {
        float: right;
        text-align: right;
        color: #29386b;
    }
    .hist_tit {
        color: #29386b;
    }

    ul {
        margin-top: 15px;
        border-top: 1px dashed #e1e1e1;
        padding: 15px 0;
        margin: 0;

        li {
            padding: 0;
        }
    }

    .badge {
        background: #eff3f9;
        color: white;
        font-weight: 300;
    }

    .hist_td {
        line-height: 30px;
    }
    .hist_value {
        font-size: 12px;
    }
    .hist_rec {
        font-size: 11px;
        color: #767676;
    }
}

#mining_amt_log {
    padding: 15px 0;
    display: grid;
    .hist_tit {
        width: 100%;
        color: #29386b;
    }
    .mymining_total {
        color: #29386b;
    }

    ul li span {
        display: inline-block;
        line-height: 26px;
        font-size: 12px;
        float: left;
    }

    .amt_total {
        color: #ec2b38;
        font-weight: 600;
        font-size: 13px;
    }
    .amt {
        font-size: 13px;
    }
    .hist_bank {
        color: black;
        border-radius: 5px;
        width: inherit;
    }
    .result {
        font-size: 15px;
    }

    i {
        font-size: 18px;
        margin-right: 5px;
        font-weight: 300;
        vertical-align: sub;
        color: #333;
    }
    p {
        display: inline-block;
    }
}

.b_orange {
    background: orangered;
}
.b_pink {
    background: #ef21fd;
}
.b_purple {
    background: #6f00ff;
}
.b_blue {
    background: #073a69 !important;
}
.hist_value {
    color: #073a69;
}

.btn.more_record i {
    font-size: 18px;
}

.content-box {
    &.mining_detail {
        font-size: 13px;
        border-bottom: 4px solid #073a69;
    }

    &.mining_history {
        font-size: 13px;
        border-left: 4px solid #073a69;
    }

    .m_hist_exp {
        font-size: 11px;
    }
    .hist_value2 {
        font-size: 13px;
    }
}

// mypool
.mypool {
    #minings {
        .nav_set {
            ul {
                width: 100%;
                min-height: 40px;
                border-bottom: 1px solid #ccc;
                margin-bottom: 10px;
                display: flex;

                .nav {
                    display: inline-block;
                    font-size: 13px;
                    padding: 10px 3px;
                    width: 24.9%;
                    text-align: center;
                    cursor: pointer;

                    &.active {
                        border-bottom: 2px solid blue;
                    }
                }
            }
        }

        .nav_con {
            display: none;
            animation: slidein 0.5s ease-out;

            &.active {
                display: block;
            }
        }

        .box-header {
            display: block;
        }

        .box-body {
            ul {
                margin: 15px 0;
                border-bottom: 2px dotted #ccc;
                padding-bottom: 10px;

                .date {
                    font-size: 12px;
                    letter-spacing: -0.5px;
                    color: #0c4ddf;
                }

                .mining {
                    font-size: 17px;
                    font-weight: 700;
                    font-family: Montserrat, Arial, sans-serif;
                    line-height: 30px;
                    color: #1a1a1a;
                }

                .rec_adm {
                    font-size: 11px;
                    color: #777;
                }
            }

            .from_id {
                font-size: 14px;
                color: #333;
                padding: 0 5px;
                font-weight: 600;
                background: #dddeeb;
                display: inline-block;
                font-family: Montserrat, Arial, sans-serif;
                border-right: 2px solid #222;
            }
        }

        .sparkline {
            width: 100%;
        }

        .comp {
            font-size: 16px;
            color: #666;
            padding: 0 5px;

            &.plus {
                color: red;
            }

            &.minus {
                color: blue;
            }
        }

        .point {
            font-size: 16px;
            font-weight: 700;
            font-family: Montserrat, Arial, sans-serif;
            margin: 0 5px;
            padding: 0 5px;
            color: black;
            background: #fece00;
            display: inline-block;
        }

        .btn {
            *.ad_btn {
                letter-spacing: -0.5px;
                margin-bottom: -10px;
                border: 1px solid rgba(0, 0, 0, 0.4) !important;
                padding: 5px 8px 4px !important;
                font-size: 13px !important;
            }
        }

        .ad_btn {
            i {
                vertical-align: middle;
            }
        }
    }
}

// center_page
#ui-datepicker-div {
    display: none;
}

//MINING 코인시세카드
.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    user-select: none;

    .checkbox {
        padding-right: 0.2rem;
        width: 50%;
    }
    .checkbox + .checkbox {
        padding-right: 0;
        padding-left: 0.2rem;
    }

    .checkbox-wrapper {
        width: 100%;
    }
}

.checkbox-input {
    // Code to hide the input
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;

    &:checked + .checkbox-tile {
        border-color: #2260ff;
        box-shadow: 0 5px 10px rgba(#000, 0.1);
        color: #2260ff;
        &:before {
            transform: scale(1);
            opacity: 1;
            background-color: #2260ff;
            border-color: #2260ff;
        }

        .checkbox-icon,
        .checkbox-label {
            color: #2260ff;
        }
    }

    &:focus + .checkbox-tile {
        border-color: #2260ff;
        box-shadow: 0 5px 10px rgba(#000, 0.1), 0 0 0 4px #b5c9fc;
        &:before {
            transform: scale(1);
            opacity: 1;
        }
    }
}

.checkbox-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 16px 10px 16px;
    border-radius: 0.5rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(#000, 0.1);
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
    font-family: "Inter", sans-serif;
    color: black;
    font-weight: 600;

    &:before {
        content: "";
        position: absolute;
        display: block;
        width: 1.25rem;
        height: 1.25rem;
        border: 2px solid #b5bfd9;
        background-color: #fff;
        border-radius: 50%;
        top: 0.25rem;
        left: 0.25rem;
        opacity: 0;
        transform: scale(0);
        transition: 0.25s ease;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
        background-size: 12px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    &.active:hover {
        border-color: #2260ff;
        &:before {
            transform: scale(1);
            opacity: 1;
        }
    }
}

.checkbox-icon {
    transition: 0.375s ease;
    color: #494949;
    img {
        width: 44px;
        height: 44px;
    }
}

.checkbox-label {
    color: #555;
    transition: 0.375s ease;
    text-align: center;
    font-size: 12px;
}
.checkbox-price .change_price {
    text-align: center;
    font-size: 11px;
    font-weight: 400;
}

.refresh_loader {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    min-height: 60px;
    display: flex;
}
.refresh_loader img {
    max-width: 100px;
    margin: 0 auto;
}

.pre_loading {
    position: absolute;
    z-index: 1100;
    top: 40%;
    width: 100%;
    height: 50px;
    text-align: center;
}
.pre_loading img {
    margin: 0 auto;
}

.dark .pre_loading img {
    color: white;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #fff inset;
    -webkit-text-fill-color: #000;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

@include mobile {
    .upstairs {
        .it_price {
            font-size: 16px;
        }
    }

    .history_latest {
        .card_title {
            width: 220px;
        }
    }

    .regist_latest {
        .card_title {
            width: 220px;
        }
    }
}
