* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body, html {
  height: 100%;
  width: 100%;
  background-color: rgb(242, 242, 242);
}

a, a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}

ul {
	list-style: none;
}

.blue {
	color: rgb(0, 121, 211);
}

.gray {
	color: rgb(124, 124, 124);
}

.purple {
	color: #53407A;
}

.red {
	color: #ff6c6c;
}


body, html {
	height: 100%;
	width: 100%;
	background-color: rgb(242, 242, 242);
  }
.main-container {
	background: white;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 25px;
	width: 1100px;
}

@media (max-width: 1115px) {
	.main-container {
		margin-top: 25px;
		margin-bottom: 25px;
		width: 100%;
	}
}