@import "../_variable";

.btn {
    // width: auto;
    border-radius: 3px;
    margin: 10px auto;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.5px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.btn.wd {
    width: 100%;
    padding: 13px 15px;
}

.main_btn {
    // background:linear-gradient(0deg, $main_color,$main_color_2) !important;
    background: $main_color !important;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    color: #fff !important;

    &:hover {
        background: linear-gradient(180deg, $main_color, $main_color_2) !important;
        box-shadow: 0 0 1px 2px $main_color;
    }
}

.main_btn2 {
    background: $main_color;
    height: 45px;
    color: #fff !important;

    &:hover {
        background-color: $main_color_2;
    }
}

.main_btn3 {
    background: $main_color_3;
    height: 45px;
    color: #fff !important;

    &:hover {
        background-color: $main_color_2;
    }
}

.btn_cancel {
    background: #c7ccd5;
    height: 45px;
    border-radius: 5px !important;
    color: #fff;
}

// .sub_btn {
//     background:linear-gradient(0deg, $sub_color,$sub_color_2) !important;
//     color: #fff !important;

//     &:hover {
//         background: linear-gradient(180deg, $sub-color, $sub_color_2) !important;
//         box-shadow:0 0 1px 2px $sub-color;
//     }
// }
