@charset "UTF-8";

/*스테이킹 컬러셋 6개만 사용 */
.btn {
  border-radius: 3px;
  margin: 10px auto;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.5px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: none;
}

.btn.wd {
  width: 100%;
  padding: 13px 15px;
}

.main_btn {
  background: #1d5597 !important;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  color: #fff !important;
}

.main_btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#1d5597), to(#003680)) !important;
  background: linear-gradient(180deg, #1d5597, #003680) !important;
  -webkit-box-shadow: 0 0 1px 2px #1d5597;
  box-shadow: 0 0 1px 2px #1d5597;
}

.main_btn2 {
  background: #1d5597;
  height: 45px;
  color: #fff !important;
}

.main_btn2:hover {
  background-color: #003680;
}

.main_btn3 {
  background: #1d5597;
  height: 45px;
  color: #fff !important;
}

.main_btn3:hover {
  background-color: #003680;
}

.btn_cancel {
  background: #c7ccd5;
  height: 45px;
  border-radius: 5px !important;
  color: #fff;
}